@import url('../../../scss/variables.scss');

.intro, .form{
  padding-left: 5%;
  padding-right: 5%;
}

.intro{
  // background-image: url('/assets/imgs/login.svg');
  background-color: #EECE91;
  height: 40vh;
  // background-size: contain;
  // background-repeat: no-repeat;
}

.content{
  padding-top: 25%;
  padding-right: 20%;
  font-weight: bold;
  font-size: 30px;

  .welcome-txt{
    font-weight: normal;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .sign-txt{
    font-weight: 500;
  }

}

.form{
  padding-top: 10%;
  height: 60vh;

  form{
    max-width: 500px;
    margin: auto;
  }

  .actions-section{
    padding-bottom: 5%;
    text-align: center;

  }
}

.sign-up-hint{
  text-align: center;
}

.sign-up-route{
  color: var(--taburGreyBiege) ;
}

form{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-error{
  color: red;
  margin-top: -20px;
}

@media screen and (min-width: 480px) {
  .form{

    .actions-section{
      padding-bottom: 30%;
      text-align: center;

    }
  }

  form{
    justify-content: space-around;
  }
}
