<!-- <div>
  <app-log-form [introText]="introText" [btnActionText]="actionText" (formSubmission)="submitData($event)"></app-log-form>
</div> -->

<div class="">

  <div class="intro">

    <div class="content">
      <p class="logo">Logo</p>
      <p class="welcome-txt">Create New Account!</p>
      <p class="sign-txt">Please Fill in the form to continue</p>
    </div>
  </div>

  <div class="form">

    <form [formGroup]="registerForm">

      <div class="inputs-section">
        <app-input [label]="'Full name'" formControlName="username"></app-input>
        <app-input [label]="'Email Address'" [placeholder]="'ex@tabur.com'"></app-input>
        <app-input [label]="'Phone Number'" [type]="'number'"></app-input>
        <app-input [label]="'Password'" [type]="'password'" formControlName="password"></app-input>
      </div>

      <div class="actions-section">
        <app-wide-button [txt]="'Create Account'" (btnClicked)="signUp()"></app-wide-button>
        <p class="sign-up-hint pt-3">have an account? <span class="sign-up-route" routerLink="/login">Sign in</span></p>
      </div>
    </form>
  </div>

</div>
