
<div class="row menu-holder">
  <div class="col-12">
    <div class="row link-row">
      <div class="col" (click)="linkClicked()">
        <a routerLink="/home">Home</a>
      </div>
    </div>

    <div class="row link-row">
      <div class="col" (click)="linkClicked()">
        <a routerLink="/login">login</a>
      </div>
    </div>

    <div class="row link-row">
      <div class="col" (click)="linkClicked()">
        <a routerLink="/reserve">Reserve</a>
      </div>
    </div>

    <div class="row link-row">
      <div class="col" (click)="linkClicked()">
        <a routerLink="/about-us">About us</a>
      </div>
    </div>

    <div class="row link-row">
      <div class="col" (click)="linkClicked()">
        <a routerLink="/documents">Documents</a>
      </div>
    </div>
  </div>
</div>
