
span{

  display: inline-block;
  // border: 1px solid var(--taburGreyBiege);
  padding: 12px;
  border-radius: var(--badgeBorderRadius);
  font-weight: 500;
  background-color: var(--secondaryBgColor);
  font-size: 17px;
}

.active{
  background-color: var(--roseColor);
}
