// @import "../../../../scss/variables.scss";

// .queue-card{
// }

// .queue-name, .queue-clients{

//   p{
//     font-weight: bold;
//     text-align: center;
//     padding: 7px;
//   }
// }

// .button-row{
//   display: flex;
//   justify-content: center;

//   button{
//     color: $redHighlightedText;
//   }
// }

p{
  margin: 0;
  padding: 4px 0;
}

.queue-index{

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  color: var(--roseDarkColor);
}

.queue, .row{
  height: 100%;
}

.info-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.manager-name, .booked-count, .served-customer, .queue-name{
  font-weight: bold;
}

.highlighted{
  color: var(--roseDarkColor);
}
