
<!-- <div class="queue-card">

  <div class="queue-name">
    <p>{{queue.name}}</p>
  </div>

  <div class="queue-clients">
    <p>Clients in queue: {{queue.bookCount}}</p>
  </div>

  <div class="button-row">
    <button type="submit" mat-button class="delete-btn" (click)="selfDelete()">Delete Queue</button>
  </div>
</div> -->



<div class="queue">
  <div class="row">
    <div class="col-3 queue-index">
      Q{{index}}
    </div>

    <div class="col info-col">
      <p class="queue-name">Queue: <span class="highlighted">{{queue.name }}</span></p>
      <p class="manager-name">Manager: <span class="highlighted">{{queue.manager.fullname }}</span></p>
      <p class="booked-count">Queue count: <span class="highlighted">{{queue.bookCount}}</span></p>
      <p class="served-customer">Customer: #<span class="highlighted">{{queue.nowServing}}'s</span> turn!</p>
    </div>
  </div>
</div>
