
<div class="actions-section">
  <app-small-button [txt]="'Push Queue'" (btnClicked)="moveNext()" [ngClass]="{'inactive-btn' : queueStatus === 'closed'}"></app-small-button>
  <app-small-button [txt]="queueStatus === 'open' ? 'Close Queue' : 'Open Queue'" [active]="queueStatus === 'open' ? false : true" (btnClicked)="toggleQueue()"></app-small-button>
</div>

<div class="reservations-holder" [ngStyle]="{'opacity' : queueStatus === 'open' ? '1' : '0.5'}">
  <div class="row reservation-row m-3" *ngFor="let reservation of queueReservations" [ngClass]="{'active-row' : reservation.no === reservation.queue.nowServing}">
    <p class="num-p"><mat-icon>account_box</mat-icon> # {{reservation.no}} - {{reservation.reserver.username}}</p>
    <p class="creation-p">Creation Time: {{reservation.createdAt | date:"dd, MMM hh:mm"}}</p>
  </div>
</div>
