@import "../../../../scss/variables.scss";

.inactive-btn{
  opacity: 0.5;
  pointer-events: none;
}
.reservation-row{
  padding: 20px;
  text-align: center;
  font-weight: bold;
  background-color: var(--tilesBgColor);
  border-radius: var(--badgeBorderRadius);
  -webkit-box-shadow: -10px 5px 18px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: -10px 5px 18px -10px rgba(0,0,0,0.75);
  box-shadow: var(--smallShadow);

}

.actions-section{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.reservations-holder{
  height: 84vh;
  overflow-y: scroll;
}

.active-row{
  background-color: var(--secondaryColor);
}

.num-p{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.creation-p{
  text-align: start;
  font-weight: bold;
  font-size: 13px;
  color: var(--taburGreyBiege);
}
