p{
  margin: 0;
}

.tabur-drawer-list{
  display: flex;
  flex-direction: column;
}

.close-drawer{
  position: absolute;
  right: 6%;
  top: 2%;
  color: var(--roseDarkColor);
}

mat-drawer {
  width: 80%;
  max-width: 350px;
  background-color: var(--bgColor);
}

mat-icon{
  margin-right: 10px;
}



.route-item{
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
  padding-left: 25px;
  color: var(--roseDarkColor);
}

.active-route{
  border-left: 10px solid;
}

.theme-item{

  display: block;
  text-align: center;
  font-size: 14px;
  padding: 0;

  .black-color-rect, .white-color-rect{
    height: 30px;
    width: 70px;
    border-radius: 12px;
    border: 1px solid var(--roseDarkColor);
    display: inline-block;
    margin: 5px;

  }

  .black-color-rect{
    background-color: black;
  }

  .white-color-rect{
    background-color: white;
  }
}



.hr-border{
  width: 80%;
  margin: 18px auto;
  color: var(--textColor);
}
