p{
  margin: 0;
}

.tabur-drawer-list{
  display: flex;
  flex-direction: column;
}

mat-drawer {
  width: 80%;
  max-width: 500px;
}

mat-icon{
  margin-right: 10px;
}

.route-item{
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid black;
  padding: 20px;
  padding-left: 12px;
  color: var(--roseDarkColor);
}
