p{
  margin: 0;
}

.tabur-drawer-list{
  display: flex;
  flex-direction: column;
}

mat-drawer {
  width: 80%;
  max-width: 500px;
  background-color: var(--bgColor);
}

mat-icon{
  margin-right: 10px;
}

.route-item{
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid black;
  padding: 20px;
  padding-left: 12px;
  color: var(--roseDarkColor);
}

.theme-item{

  display: block;
  text-align: center;
  font-size: 14px;
  padding: 0;

  .black-color-rect, .white-color-rect{
    height: 30px;
    width: 70px;
    border-radius: 12px;
    border: 1px solid var(--roseDarkColor);
    display: inline-block;
    margin: 5px;

  }

  .black-color-rect{
    background-color: black;
  }

  .white-color-rect{
    background-color: white;
  }
}
