
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">

    <!-- Here you can put the content of the slider or drawer -->

    <div class="tabur-drawer-list">
      <p class="route-item" *ngFor="let routeItem of appRoutes" (click)="drawer.close(); navigate(routeItem.route)"><mat-icon>{{routeItem.icon}}</mat-icon> <span>{{routeItem.caption}}</span> </p>

      <div class="route-item theme-item">
        <p>Theme color</p>
        <div class="black-color-rect" (click)="toggleTheme('dark')"></div>
        <div class="white-color-rect" (click)="toggleTheme('light')"></div>
      </div>
    </div>

  </mat-drawer>

  <div class="example-sidenav-content">
    <!-- Here you can put the content of the view -->

    <div class="main" [ngClass]="{'main' : addClassMain}">
      <app-navbar *ngIf="showNav" (menuClicked)="drawer.toggle()" [title]="navbarTitle"></app-navbar>
      <router-outlet></router-outlet>
    </div>

  </div>

</mat-drawer-container>
