<div>
  <!-- <p class="page-title">Check Service Providers</p> -->

  <app-input [label]="'Search'" [placeholder]="'Search'" (currentText)="onSearchChange($event)"></app-input>

  <div class="categories-row py-3">
    <app-category-badge class="mx-2" *ngFor="let category of serviceProvidersCategories" [category]="category" (categoryClicked)="fetchServiceProviders($event)" [active]="activeCategory === category.id || (activeCategory === undefined && category.id === 0)"></app-category-badge>
  </div>

  <div class="service-providers-row row">

    <ng-container *ngIf="loggedInUser">
      <div class="service-provider-holder my-3 col-xs-12 col-sm-6 col-md-4" *ngFor="let card of providers; let i = index">
        <app-service-provider-card [serviceProviderData]="card" [thumbnailId]="i" [loggedInUser]="loggedInUser" ></app-service-provider-card>
      </div>

    </ng-container>

  </div>
</div>
