@import "../../../../scss/variables.scss";


.holder{
  // border: 3px solid var(--taburGreyBiege);
  border-radius: var(--mainBorderRadius);
  padding: 5px;
  background-color: var(--secondaryBgColor);
}

img{
  width: 100%;
  border-radius: 12px;
  height: 300px;
}

.sp-card-img{
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--mainBorderRadius);
}

.sp-card-details{
  text-align: center;
  font-weight: bold;
  font-size: var(--secondaryTitleSize);
  margin-top: 12px;
}

.button-row{
  text-align: center;
}

@media screen and (min-width: 480px) {
  img{
    width: 100%;
    border-radius: 12px;

  }

  .sp-card-img{
    height: 300px;
    // width: 100%;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
  }
}
