
<div class="holder">


  <div class="sp-card">

    <div class="sp-card-img" style="background-image: url('/assets/imgs/{{thumbnailId}}.jpg')"></div>
    <div class="sp-card-details">
      <p>{{serviceProviderData.name}}</p>
    </div>

    <div class="button-row">
      <!-- <button type="submit" class="reserve-btn btn active-primary-btn" (click)="reserve(serviceProviderData.queues._id)">Reserve</button> -->
      <!-- <app-small-button [txt]="'Join Queue'" (btnClicked)="reserve(serviceProviderData.queues._id)"></app-small-button> -->
      <app-small-button [txt]="'Join Queue'" (btnClicked)="reserve('serviceProviderData.queues._id')"></app-small-button>

    </div>
  </div>


</div>
