/* You can add global styles to this file, and also import other style files */
@import "./scss/variables.scss";
@import "./scss/custom.scss";

/* Each view page should start with MAIN class, each component should start with HOLDER class*/

html, body{
  min-height: 100vh;

}

body{
  font-family: 'Dosis', sans-serif!important;
  // background-color: #c2c2c2;
}


.row{
  margin: 0;
  padding: 0;
}

.container{
  padding: 0 6%;
}

body.dark{
  .black-color-rect {
    box-shadow: var(--alternativeShadow);
  }
}

body.light{
  .white-color-rect{
    box-shadow: var(--alternativeShadow);
  }
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body.dark {
  @include darken();
}

body.light {
  @include lighten();
}


.mat-mdc-text-field-wrapper{
  background-color: white!important; // To turn off all inputs whitesmoke colors in background

}

@media screen and (min-width: 480px) {
  .container{
    padding: 0 10%;
  }
}
