@import "./variables.scss";

.main{
  background-color: var(--bgColor);
  color: var(--textColor);
  height: 100%;
  min-height: 100vh;
  padding: 10px;
}

// Styles for Global buttons::

// @mixin btnStyler($bgColor) {
//   background-color: $bgColor;
//   color: black!important;
//   border-radius: $primaryBtnBorderRadius;
//   font-weight: bold;

//   &:hover{
//     background-color: rgba($bgColor, .8);
//   }
// }



// .inactive-primary-btn{
//   @include btnStyler(white);
// }

// .active-primary-btn{
//   @include btnStyler($secondaryColor);
// }


// padding for Navbar


