
// Colors pallet

$primaryColor: white;
$secondaryColor: rgb(238, 254, 143);
$redHighlightedText: #de002d;

// Font Sizes
$h1Size: 4.4rem;
$h2Size: 3.5rem;


// Border Radiuses

$primaryBtnBorderRadius: 4px;
