
/* Colors pallet */



:root{
  --primaryColor: #FFF3E2;
  --secondaryColor: #FFE5CA;

  --roseColor: #FA9884;
  --roseDarkColor: #E74646;

  --taburGrey: #897E73;
  --taburLightGrey: #F8F9FB;
  --taburGreyBiege: #BB936F;

  --primaryBtnBorderRadius: 25px;
  --badgeBorderRadius: 16px;

  --titleSize: 28px;
  --secondaryTitleSize: 20px;

  --smallShadow: -7px 5px 9px -10px rgba(0,0,0,0.75);

}


$redHighlightedText: #de002d;

$h1Size: 4.4rem;
$h2Size: 3.5rem;




$bgColor_light: white;
$bgColor_dark: black;

$textColor_light: black;
$textColor_dark: white;

$borderColor_light: black;
$borderColor_dark: white;




// mixin that enables css variables in light mode
@mixin lighten() {
  --bgColor: #{$bgColor_light};
  --textColor: #{$textColor_light};
  --borderColor: #{$borderColor_light};
}

// mixin that enables css variables in dark mode
@mixin darken() {
  --bgColor: #{$bgColor_dark};
  --textColor: #{$textColor_dark};
  --borderColor: #{$borderColor_dark};
}
