
/* Colors pallet */



:root{
  --primaryColor: #FFF3E2;
  --secondaryColor: #FFE5CA;

  --roseColor: #FA9884;
  --roseDarkColor: #E74646;
  --roseDarkerColor: #a02727;

  --taburGrey: #897E73;
  --taburGreyLemonLight: #EEF3E9;
  --taburLightGrey: #F8F9FB;
  --taburGreyBiege: #BB936F;

  --mainBorderRadius : 12px;
  --primaryBtnBorderRadius: 25px;
  --badgeBorderRadius: 16px;

  --bigTitleSize: 38px;
  --titleSize: 28px;
  --secondaryTitleSize: 20px;

  --smallShadow: -7px 5px 9px -10px rgba(0,0,0,0.75);
  --alternativeShadow : 3px 4px 0px -1px rgb(150 150 150 / 75%);


}


$redHighlightedText: #de002d;

$h1Size: 4.4rem;
$h2Size: 3.5rem;




$bgColor_light: white;
$bgColor_dark: #19252c;
$bgColor_secondary_light: #EEF3E9;
$bgColor_secondary_dark: #2b4a5c;

$textColor_light: black;
$textColor_dark: white;

$borderColor_light: black;
$borderColor_dark: white;

$tilesBgColor_dark: #414141;
$tilesBgColor_white: #F8F9FB;


// mixin that enables css variables in light mode
@mixin lighten() {
  --bgColor: #{$bgColor_light};
  --textColor: #{$textColor_light};
  --borderColor: #{$borderColor_light};
  --tilesBgColor: #{$tilesBgColor_white};
  --secondaryBgColor: #{$bgColor_secondary_light};
}

// mixin that enables css variables in dark mode
@mixin darken() {
  --bgColor: #{$bgColor_dark};
  --textColor: #{$textColor_dark};
  --borderColor: #{$borderColor_dark};
  --tilesBgColor: #{$tilesBgColor_dark};
  --secondaryBgColor: #{$bgColor_secondary_dark};
}
